{% extends "bootstrap_base.html" %}

{% block title %}Kib@szós - Index{% endblock %}

{% block content %}
<p>Made with love, for endless kib@szós sessions.</p>
<p>With thanks:</p>
Hosting provided by <a href="https://eu.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">PythonAnywhere</a><br><br>
<a target="_blank" href="https://icons8.com/icon/7mbvnZNvdBaW/left">Left</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a><br>
<a target="_blank" href="https://icons8.com/icon/fFqmaazlzntF/right">Right</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a><br>
<a target="_blank" href="https://icons8.com/icon/Nx10k7FUukCA/up">Up</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a><br>
<a target="_blank" href="https://icons8.com/icon/Gr9Hk0UxLDFn/close">Close</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
{% endblock %}