{% extends "bootstrap_base.html" %}

{% block title %}Kib@szós - Pontozó{% endblock %}

{% block content %}
<table class="table table-striped table-sm text-center">
    <thead class="thead-dark">
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Adu</th>
        <th scope="col">Passz</th>
        <th scope="col">Kezdi</th>
        <th scope="col">{{ session["player1"] }}</th>
        <th scope="col">{{ session["player2"] }}</th>
        <th scope="col">{{ session["player3"] }}</th>
        <th scope="col">{{ session["player4"] }}</th>
        <th scope="col">Total</th>
        <th scope="col">Add/Edit</th>
      </tr>
    </thead>
    <tbody>
      <!-- generating 20 rows using Jinja2. The ~ operator converts all operands into strings then concatenates them. -->
      {% for i in range(1, 21) %}
      <tr>
        <th scope="row">{{ session["round" ~ i]["sequence"] }}</td>
        <td>{{ session["round" ~ i]["adu"] }}</td>
        <td>{{ session["round" ~ i]["direction"] }}</td>
        <td>{{ session["round" ~ i]["starts"] }}</td>
        <form action="", method="post", novalidate>
            {{ form.hidden_tag() }}
            <td>{{ form.player1_score }}</td>
            <td>{{ form.player2_score }}</td>
            <td>{{ form.player3_score }}</td>
            <td>{{ form.player4_score }}</td>
            <td>{{ session["round" ~ i]["scores"]["player1"] + session["round" ~ i]["scores"]["player2"] + session["round" ~ i]["scores"]["player3"] + session["round" ~ i]["scores"]["player4"] }}</td>
            <td>{{ form.submit(class="btn btn-success btn-sm") }}</td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}