{% extends "bootstrap_base.html" %}

{% block title %}Kib@szós - Statisztika{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="column">
            <h1>Statisztika</h1><br>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="column">
            <table class="table-bordered">
                <thead>
                  <tr>
                    <th>Név</th>
                    <th>Játszott meccsek</th>
                    <th>Első helyezések</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tesztnév</td>
                    <td>Tesztmeccsek</td>
                    <td>Tesztelsőhelyek</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}